<!DOCTYPE html>
<html>
  <head>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://unpkg.com/packery@2/dist/packery.pkgd.js"></script>
    <script>
    $(document).ready(function() {
        document.body.style.backgroundColor = "black";

        var topic = getParameterByName('topic')

        $.ajax({
            url: '/videos/' + topic,
            success: function(data) {
                console.log("success!" + data)
                var videos = JSON.parse(data)
                console.log("videos.length: " + videos.length)
                for (var i=0; i < videos.length; i++) {
                    var curr_video = videos[i]
                    $('.grid').append("<video autoplay loop muted playsinline class=\"grid-item\"><source src="+ curr_video+" /></video>")
                }

                var vids = $('.grid').find('video');
                waitForVideosToLoad(vids, function() {
                    $('.grid').packery({
                      // options
                      itemSelector: '.grid-item',
                      gutter: 5
                    });
                })
            }
        })
    })

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function waitForVideosToLoad(vids, callback) {
        if (vids.length == 0) {
            callback();
        }
        var videosLoaded = 0;
        vids.on('loadeddata', function() {
            videosLoaded++;
            console.log("Videos loaded: " + videosLoaded)
            if (videosLoaded >= (0.9 * vids.length)) {
                console.log("Running callback!")
                callback();
            }
        })
    }

    </script>
  </head>
  <body>
    <div class="grid">
    </div>
  </body
</html>
